{% load static %}

<h1> Home Page </h1>
        <ul> 

          {% for k in category %}
          <li> {{ k }} </li>
          {% endfor %}
            
        </ul>

        <div id="movie">
            {% for m in movie %}

                {% if m.anasayfa %}

                <div>
                    <p> {{ m.title }} </p>
                    <p> {{ m.category }} </p>
                    <img src="{% static 'img/' |add:m.image %}" alt="" >

                </div>
                    
                    {% endif %}
            
            {% endfor %}

        </div>
